!!!
%html
	%head
		%meta{context: 'text/html; charset=UTF-8'}
	%body
		%h1{ styles: 'color: green;'}
			Welcome
			= @name
		%p Thanks for signing up for our service
		%i You can contact us with any questions or concerns at:
		support@mycompany.com